* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Box-Shadow: rgba(0, 0, 0, 0.1);
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

/* header */

.header {
    background-color: #004085;
    color: white;
    padding: 40px 0;
    text-align: center;
    position: relative;
}

.header::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 5px;
    background-color: #3F3B3B;
    border-radius: 5px;
}


.nav-links a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* header */

/* cards */


.card {
    box-shadow: 0 4px 8px var(--Box-Shadow);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px var(--Box-Shadow);
}


.card-header {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.card-text {
    color: #424242;
    line-height: 1.6;
}

/* cards */

/* sidebar */


.sidebar {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--Box-Shadow);
    margin-bottom: 20px;
    color: #3D3D3D;
}

.sidebar h3 {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.sidebar ul {
    list-style-type: none;
    padding-left: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: #007bff;
    text-decoration: none;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

/* sidebar */
.footer {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    background-color: #343a40;
    color: white;
    padding: 20px;
    margin-top: 40px;
}

.footer form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer form input {
    width: 320px;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 0 8px;
    margin-bottom: 10px;
}

.footer form input::placeholder {
    color: #343a40;
}

.footer form textarea {
    padding: 10px;
    outline: none;
    margin-bottom: 20px;
}

.footer form textarea::placeholder {
    color: #343a40;
}


.footer p {
    margin: 0;
}

/* btn-scroll */
.btn-scroll {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #004085;
    position: fixed;
    bottom: 20px;
    right: 15px;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 17px;
    z-index: 99999;

    &:hover #arrow {
        animation: move 0.5s ease-in-out;
    }
}

/* btn-scroll */
/* media query */

@media(min-width:768px) {
    .nav-btn {
        display: none;
    }
}

@media(max-width:768px) {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-align: left;
    }

    .nav-btn {
        position: relative;
    }

    .nav-btn::after {
        content: "";
        position: absolute;
        top: 17px;
        left: 50%;
        transform: translateX(-50%);
        border: 7px solid;
        border-color: #f8f9fa transparent transparent transparent;
        z-index: 100000000000;
        display: none;
    }

    .nav-list {
        position: absolute;
        top: 25px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 999999;
        background-color: #f8f9fa;
        display: none;

    }

    #bars {
        display: block;
        cursor: pointer;
    }

    .nav-btn:hover {
        .nav-list {
            display: block;
        }

        &::after {
            display: block;
        }
    }

    .nav-links {
        display: none !important;
    }
}

@media(max-width:620px) {
    .footer {
        flex-direction: column;
    }

    .footer form input {
        width: 250px;
    }
}

@keyframes move {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(3px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateX(0);
    }
}